@model Pokedex.Models.Types
@{
    ViewData["Title"] = "Tipos";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Tipos de Pokémons</h1>
<h3>Tem certeza que deseja excluir este Tipo?</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" disabled />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" values="Excluir" class="btn btn-danger" />
                <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>